header {
    background: #aaddbb;
    padding: 20px 0;
 
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 40px;
    right: 0;
}
header img {
    width: 90px;
    border-radius: 50%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(21, 207, 21);
    text-decoration: underline;
}

.especies{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.especies li {
    display: inline-block;
    text-align: center;
    width: 30%;
    background: #6df168;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #046d1a;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.popular{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.especies li:hover {
    border-color: rgb(21, 207, 21);
   
}
.especies li:hover h2 {
    font-size: 34px;
}

.especies li:active {
    border-color: rgb(186, 243, 159);
}

.descricao {
    font-size: 17px;

}

.especies h2 {
    font-size: 30px;
    font-weight: bold;
    
}

img {
    width: 250px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;

}

footer img {
    width: 50px;
    
}

.copyright {
    color: #e91313;
    font-size: 13px;
    margin: 20px 0 0;

}