body {
    text-align: center;
    
}

header{
   text-align: justify; 
}

.titulo-principal {
    padding-left: 20px;
}
.principal{
    background: #9de059; 
}

#cacto {
    width: 100%;
}

.titulo-centralizado {
    background: rgb(43, 78, 8);
    color: azure;
    font-size: 60px;
}

p {
    text-align: center; 
    font-size: 30px;

}

strong {
    font-size: 40px;
    color: #FFFFFF;
    font-size: 50px; 
    text-align: center;
}

#cacto1 {
    width: 100%;
    height: 600px;

}
#cacto2 {
    
  height: 290px;
  width: 500px;
  margin-left: 100px;
  margin-top: -50px;
    }
    
    
li {
    text-align: center; 
    font-size: 30px;

}

.itens {
    font-style: italic;
    text-align: justify;
}

.curiosidades{
    background: #c1f78c;
    background: size 300px;
    
}
.lista-curiosidade{
    display: flex;
}